<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.geocraft.core.io.datastoreAccessor">
      <datastoreAccessor
            category="Wells"
            name="LAS Well/Logs"
            utilClass="org.geocraft.io.las.WellAccessorUtil">
         <mapper
               class="org.geocraft.io.las.WellMapper"
               supportedEntityClassName="Well">
         </mapper>
         <input
               mapperModel="org.geocraft.io.las.WellMapperModel"
               selector="org.geocraft.io.las.WellSelector"
               task="org.geocraft.io.las.WellLoadTask">
         </input>
         <output
               mapperModel="org.geocraft.io.las.WellMapperModel"
               selector="org.geocraft.io.las.WellOutputLocationSelector"
               task="org.geocraft.io.las.WellExportTask">
         </output>
      </datastoreAccessor>
   </extension>
   <extension
         point="org.geocraft.ui.io.datastoreAccessorUI">
      <datastoreAccessorUI
            datastoreAccessorId="LAS Well/Logs"
            inputModelView="org.geocraft.io.las.WellLoadView"
            outputModelView="org.geocraft.io.las.WellExportView">
      </datastoreAccessorUI>
   </extension>

</plugin>
