<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.geocraft.geomath.category"
            class="org.geocraft.ui.repository.RepositoryView"
            id="org.geocraft.ui.repository.RepositoryView"
            name="Repository"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.geocraft.ui.repository.RepositoryViewContentProvider"
            id="org.geocraft.ui.repository.repositoryContent"
            labelProvider="org.geocraft.ui.repository.RepositoryViewLabelProvider"
            name="RepositoryContent">
         <triggerPoints>
            <instanceof
                  value="org.geocraft.ui.common.tree.TreeRoot">
            </instanceof>
            <instanceof
                  value="org.geocraft.ui.common.tree.TreeBranch">
            </instanceof>
            <instanceof
                  value="org.geocraft.ui.common.tree.TreeLeaf">
            </instanceof>
         </triggerPoints>
         <commonSorter
               class="org.geocraft.ui.repository.RepositoryViewSorter"
               id="org.geocraft.ui.repository.RepositoryViewSorter">
         </commonSorter>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.geocraft.ui.repository.RepositoryView">
         <includes>
            <contentExtension
                  pattern="org.geocraft.ui.repository.repositoryContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            icon="icons/dirty3.png"
            id="org.geocraft.ui.repository.decorator"
            label="Unsaved Entities"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.geocraft.ui.repository.PropertiesProviderTreeObject">
               </objectClass>
               <objectState
                     name="isDirty"
                     value="true">
               </objectState>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.geocraft.ui.repository.FoldMapContribution"
            objectClass="org.geocraft.ui.repository.PropertiesProviderTreeObject">
         <filter
               name="entityTypes"
               value="org.geocraft.core.model.seismic.PostStack3d, org.geocraft.core.model.seismic.PreStack3d">
         </filter>
         <action
               class="org.geocraft.ui.repository.action.CreateFoldMapAction"
               enablesFor="+"
               icon="icons/Grid3d.png"
               id="org.geocraft.ui.repository.action2"
               label="Create Fold Map"
               menubarPath="org.geocraft.ui.repository.taskview/additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.geocraft.ui.repository.SetCheckshotContribution"
            objectClass="org.geocraft.ui.repository.PropertiesProviderTreeObject">
         <filter
               name="entityTypes"
               value="org.geocraft.core.model.well.WellCheckShot">
         </filter>
         <action
               class="org.geocraft.ui.repository.action.SetActiveTimeDepthTable"
               enablesFor="+"
               id="org.geocraft.ui.repository.action1"
               label="Set Active Checkshot">
         </action>
      </objectContribution>
   </extension>

</plugin>
