<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.geocraft.product.saveables" name="Saveable resources on shutdown" schema="schema/org.geocraft.product.saveables.exsd"/>

   <extension
         id="org.geocraft.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.geocraft.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
      <key
            commandId="org.eclipse.ui.help.dynamicHelp"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F1">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.geocraft.application"
            name="GeoCraft">
         <property
               name="appName"
               value="GeoCraft">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="splash.bmp">
         </property>
         <property
               name="aboutText"
               value="GeoCraft is a framework for efficiently prototyping and deploying &#x0A;new geoscience applications. &#x0A;&#x0A;GeoCraft is built on top of the Eclipse Rich Client Platform.">
         </property>
         <property
               name="windowImages"
               value="icons/GC-mark-16.png,icons/GC-mark-32.png">
         </property>
         <property
               name="startupForegroundColor"
               value="1E37FF">
         </property>
         <property
               name="startupMessageRect"
               value="120,230,345,20">
         </property>
         <property
               name="startupProgressRect"
               value="120,250,345,15">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.geocraft.preferences.general"
            class="org.eclipse.ui.ExtensionFactory:appearancePreferencePage"
            id="org.geocraft.preferences.appearance"
            name="Appearance">
      </page>
      <page
            category="org.geocraft.preferences.appearance"
            class="org.eclipse.ui.ExtensionFactory:colorsAndFontsPreferencePage"
            id="org.geocraft.preferences.colors"
            name="Colors and Fonts">
      </page>
      <page
            category="org.geocraft.preferences.general"
            class="org.eclipse.ui.ExtensionFactory:newKeysPreferencePage"
            id="org.geocraft.preferences.keys"
            name="Keys">
      </page>
      <page
            category="org.geocraft.preferences.general"
            class="org.eclipse.ui.ExtensionFactory:perspectivesPreferencePage"
            id="org.geocraft.preferences.perspectives"
            name="Perspectives">
      </page>
      <page
            class="org.eclipse.ui.ExtensionFactory:workbenchPreferencePage"
            id="org.geocraft.preferences.general"
            name="General">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.geocraft.product.intro.WelcomeView"
            id="org.geocraft.product.intro">
      </intro>
      <introProductBinding
            introId="org.geocraft.product.intro"
            productId="org.geocraft.product.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="saveSession.command"
            name="Save Session">
      </command>
      <command
            id="saveSessionAs.command"
            name="Save Session As...">
      </command>
      <command
            id="saveBatchAs.command"
            name="Save Session As Batch">
      </command>
      <command
            id="restoreSession.command"
            name="Restore Session">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.geocraft.product.action.SaveSessionHandler"
            commandId="saveSession.command">
      </handler>
      <handler
            class="org.geocraft.product.action.SaveSessionAsHandler"
            commandId="saveSessionAs.command">
      </handler>
      <handler
            class="org.geocraft.product.action.SaveBatchAsHandler"
            commandId="saveBatchAs.command">
      </handler>
      <handler
            class="org.geocraft.product.action.RestoreSessionHandler"
            commandId="restoreSession.command">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="file"
               label="File">
            <command
                  commandId="saveSession.command"
                  icon="icons/SaveFile_16x16.png"
                  style="push">
            </command>
            <command
                  commandId="saveSessionAs.command"
                  icon="icons/FileSaveAs_16x16.png"
                  style="push">
            </command>
            <command
                  commandId="saveBatchAs.command"
                  icon="icons/BatchFileSaveAs_16x16.png"
                  style="push">
            </command>
            <command
                  commandId="restoreSession.command"
                  icon="icons/restore_16x16.gif"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
